# Python / Django
**/__pycache__/
**/*.py[cod]
**/*.pyo
**/*.pyd
*.sqlite3
db.sqlite3
*.log

# Environment files
**/.env
**/.env.*
**/.venv/
**/venv/

# Django specific
media/
staticfiles/

# Testing / coverage
**/.pytest_cache/
**/.mypy_cache/
**/.coverage
**/coverage/

# Node / React / Vite
**/node_modules/
**/dist/
**/build/
**/.vite/

# OS / editor
.DS_Store
.vscode/
.idea/